{% extends 'main/base.html' %} {% load static %} {% block content %}
<section class="loginContainer">
  <div class="login xl:w-2/3 2xl:w-1/2">
    <div class="inputSection">
      <h2 class="welcomeText">HOLA!</h2>
      <p class="subtext">Bienvenido a fitness. Preparate para estar en forma</p>
      <form action="" class="logInForm">
        <div class="inputContainer">
          <label for="email"> Email</label>
          <input type="email" class="logininput" id="email" name="email" />
        </div>
        <div class="inputContainer">
          <label for="password">Contraseña</label>
          <input type="password" class="logininput" id="password" />
        </div>

        <button class="loginButton">Log in</button>
      </form>
      <p class="registerText">
        ¿No tienes cuenta? <a href="" class="registerLink">Registrate</a>
      </p>
    </div>
    <img
      src="{% static 'images/login.jpg'%}"
      id="loginImage"
      class="col-2"
      alt=""
    />
  </div>
</section>

{%endblock%}
