{% extends "main/base.html" %} {% load static %} {% block content %}
<div class="container mt-5 margin-top">
    <h2>Editar Perfil</h2>

    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Por favor, corrige los errores:</strong>
            <ul>
                {% for field in form %} {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %} {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="mb-3">{{ form.username.label_tag }} {{ form.username }}</div>
        <div class="mb-3">{{ form.email.label_tag }} {{ form.email }}</div>
        <div class="mb-3">{{ form.name.label_tag }} {{ form.name }}</div>
        <div class="mb-3">{{ form.last_name.label_tag }} {{ form.last_name }}</div>
        <div class="mb-3">{{ form.weight.label_tag }} {{ form.weight }}</div>
        <div class="mb-3">{{ form.height.label_tag }} {{ form.height }}</div>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}