{% extends 'main/base.html' %} {% load static %} {% block content %}

<form action="#" method="post" class="form">
  <div class="form-header">
    <h2>Registration Form</h2>
  </div>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required />

  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" required />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <label for="Peso">Peso (kg)</label>
  <input type="text" id="Peso" name="Peso" required />

  <label for="Altura">Altura (cm):</label>
  <input type="text" id="Altura" name="Altura" required />

  <div>
    <label for="sexo">Genero:</label>
    <select id="sexo" name="sexo">
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
    </select>
  </div>
  <div>
    <label for="hipertenso">Hipertenso:</label>
    <input type="checkbox" name="hipertenso" id="hipertenso" />
  </div>
  <div>
    <label for="Diabetico">Diabetico:</label>
    <input type="checkbox" name="Diabetico" id="Diabetico" />
  </div>
  <div>
    <label for="Vegetariano">Vegetariano:</label>
    <input type="checkbox" name="Vegetariano" id="Vegetariano" />
  </div>

  <label for="otras_condiciones">Otras Condiciones</label>
  <textarea id="otras_condiciones" name="otras_condiciones" rows="4"></textarea>

  <input type="submit" value="Register" />
</form>

{%endblock%}
