{% extends 'main/base.html' %}{% block content %}
{% load static %}

<!-- =========================
    BLOG HEADER SECTION   
============================== -->
<section id="blog-header" class="parallax-section margin-top">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Plan de Ejercicios</h1>
			</div>


		</div>
	</div>
</section>

<!-- =========================
    BLOG SECTION   
============================== -->
<section id="blog" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">

				<div class="blog-content wow fadeInUp" data-wow-delay="1s">
					<div class="blog-clear"></div>
					<p> En este listado hay una mezcla de ejercicios de cardio, combinados con fuerza y mantenimiento. Puedes adaptarlos a tu condición física actual y nivel de entrenamiento, ajustar la carga y hacerlo según tu nivel ya que lo importante es poder realizarlo con exactitud y cumpliendo bien con la técnica.</p>
            		<blockquote>Eso sí, no vayas a lo cómodo y asegúrate de que cada ejercicio tenga la intensidad suficiente como para aumentar tu ritmo cardíaco y, en cierta medida, retarte cada día un poco más pues así es como realmente ejercitas el músculo. Ese picor que sientes al hacer el ejercicio es la clave.</blockquote>
            
            	<div class="blog-categories">
					<h3>Consejos básicos para hacer bien ejercicios para quemar grasas</h3>
						<p>Hacer bien los ejercicios es la clave para para quemar grasas de forma efectiva. Estos consejos te ayudarán a realizarlos de la forma correcta:<br><br>
							- Lo primero de todo es respetar la técnica al máximo para sacar el mayor partido a cada movimiento y, sobre todo, no sufrir lesiones inoportunas.<br>
							- Puesto que se trata de quemar grasa y perder peso, la intensidad en el entrenamiento es fundamental, así que no te excedas con los descansos y ajusta bien los tiempos. Y en los que sean ejercicios de fuerza, puedes probar a ir subiendo los kilos para progresar, hipertrofiar más y ganar más músculo.<br>
							- Nuestros ejercicios favoritos son, siempre, los de fuerza, porque está demostrado científicamente que son los más adecuados para quemar grasa y ganar músculo a la vez: como, por ejemplo, peso muerto con barra, burpees a muerte, todo tipo de sentadillas, con material o con el peso corporal, dominadas, arrastres de trineo y press de banca plano, inclinado y declinado.<br>
							- Lo mejor es que elijas aquellos ejercicios que más se adapten a ti, lo combines en un circuito, con varias rondas, y un tiempo determinado para darle la máxima intensidad al tiempo que estemos en el gimnasio.<br>
						</p>
				</div>
				<br>
            </div>

				<div class="recent-post">
					<h2>Ejercicios de Fuerza</h2>

						<div class="media">
							
							<div class="media-body">
								<h3>Row</h3>
								<p>Para este ejercicio vas a necesitar un elemento del que tirar, para hacer el movimiento. Puedes hacerlo con bandas elásticas atadas si lo haces en casa y si lo haces en tu gimnasio, con la máquina de remo. En pie con las piernas semi flexionadas y los codos cercanos al cuerpo. Sin despegarlos, tira de las gomas hasta que tus codos lleguen a la altura del tronco y lo sobrepases ligeramente. Repite el movimiento.</p>
								<br>
								<h3>Squats</h3>
								<p>Con los pies separados al ancho de hombros, coloca tus brazos extendidos hacia adelante (manos a la altura de los hombros). Flexiona de manera simultánea tobillos rodillas y cadera. De modo que tu tronco y tus caderas se desplacen hacia abajo, manteniendo las plantas de los pies en contacto con el suelo. Reparte el peso corporal a lo largo de toda la plata del pie.</p>
								<br>
								<h3>Push up</h3>
								<p>Tumbado boca abajo, las palmas de tus manos firmemente apoyadas en el suelo a la altura de tu pectoral. Presiona con las palmas de las manos en el suelo para levantar tu tronco y caderas y piernas del suelo. Intenta mantener tu torso y piernas en paralelo al suelo durante todo el recorrido y arquear la espalda, sin tensión en la zona lumbar. Si necesitas adaptar la intensidad puedes realizarlo con rodillas apoyadas en el suelo. Si prefieres aumentar la dificultad sube tus pies a una silla o cualquier otro elemento.</p>
								<br>
								<h3>Lunge</h3>
								<p>Las tradicionales zancadas, que puedes combinar con mancuernas o botellas de agua, si no tienes mancuernas en casa.</p>
								<br>
								<h3>Face pull</h3>
								<p>Vamos a trabajar este ejercicio de una manera parecida al row, aunque en este caso
									buscaremos una posición alta de los codos, que además irán mucho más separados del tronco.
									Realizaremos la tracción con una polea o una goma. Sitúate a una distancia de uno o dos pasos y tracciona la goma o el agarre de polea hacia tu cara, esta vez sí debes despegar los codos del tronco, extendiendo los brazos rectos por delante de tu tronco (manos a la altura de los hombros), completamente extendidos. Flexiona tus codos para llevar el agarre hacia tu cara, manteniendo una posición alta de los codos, hasta que tus manos lleguen aproximadamente donde están tus mejillas.
									</p>
								<br>
								<h3>Knee up</h3>
								<p>En posición de cuadrupedia (apoyo de rodillas, manos y pies), impúlsate lo suficiente para que, de un salto, puedas situarte en una posición similar a la sentadilla (apoyo de pies, cadera, rodillas y tobillos flexionados). Volverás a arrodillarte para volver a la posición inicial.</p>
								<br>
							</div>
						</div>
				</div>

                <div class="recent-post">
					<h2>Ejercicios de Cardio</h2>

						<div class="media">
							
							<div class="media-body">
								<h3>Little Burpees</h3>
								<p>Se da un salto y con el impulso se baja al suelo hasta llegar a hacer una flexión. Y de nuevo te levantas para volver a saltar. Es importante realizarlo bien y hacerlo lo más rápido posible para trabajar el cardio. Realizar diversas repeticiones y series (descansar entre serie y serie).</p>
								<br>
								<h3>Jumping Jacks</h3>
								<p>En pie con los pies en paralelo sepáralos más allá de la anchura de los hombros. Mantén los brazos extendidos por encima de la cabeza. Salta para juntar ambos pies al mismo tiempo despegándolos del suelo y juntando tus manos a tus caderas. Salta de nuevo para volver a la posición inicial.</p>
								<br>
								<h3>Skipping en parado</h3>
								<p>Levanta las rodillas de forma alterna a la altura de tus caderas, el movimiento es similar a correr en el sitio. Alterna tus brazos en balanceo con el movimiento de las piernas como si estuvieras esprintando.</p>
								<br>
								<h3>Scissors Jacks</h3>
								<p>Desde una posición inicial con piernas juntas y algo flexionadas, lleva en simultáneo una pierna adelante y otra atrás, emulando el movimiento de correr, pero sin apenas despegar los pies del suelo y sin desplazarte. Acompaña con el movimiento natural de los brazos.</p>
								<br>
								<h3>Quickseat</h3>
								<p>Desde de pie, ponte en cuclillas hasta que las manos apoyen en el suelo, desde esa posición extiende las piernas a la vez en un solo movimiento para sentarte en el suelo e inmediatamente después realiza todo el movimiento al revés hasta acabar en la posición inicial.</p>
								<br>
								<h3>Swings con kettlebell o pesa rusa</h3>
								<p>Flexiona las rodillas, mantén la espalda recta y comienza a balancear la pesa rusa entre tus piernas hasta la altura de los hombros con los brazos estirados. El ejercicio se ejecuta con el empuje del tren inferior y el core, los brazos solo acompañan el movimiento..</p>
								<br>
								<h3>Sombras de boxeo</h3>
								<p>Colócate en posición de guardia y comienza a simular un combate con golpeo y esquivas como si estuvieras en un combate real de boxeo. Ritmo y sin golpear al aire con demasiada fuerza para evitar lesiones.</p>
								<br>
								<h3>Peso muerto con barra</h3>
								<p>Sujeta la barra con el agarre que prefieras, coloca tus manos a la altura de los hombros y, con el pecho y la mirada al frente, levanta la barra con la espalda recta en todo momento.</p>
								<br>
								<h3>Saltos de cajón o jumpbox</h3>
								<p>Colócate delante de la caja, coge impulso y salta encima de la caja. Puedes ayudarte de los brazos para saltar más alto y no perder el equilibrio.</p>
								<br>
								<h3>Saltar a la soga</h3>
								<p>Toma la soga y ponte a saltar para quemar grasa con este ejercicio cardio.</p>
								<br>
								<h3>Burpees</h3>
								<p>De pie, ponte en cuclillas y colócate en posición de plancha, vuelve a la posición en cuclillas y levántate dando un salto en el aire, y repite el movimiento.</p>
								<br>
								<h3>Sentadillas con mancuernas o pesa rusa</h3>
								<p>Sujeta una mancuerna a la altura de tus hombros y, con la mirada y el pecho al frente haz la sentadilla para quemar grasa.</p>
								<br>
								<h3>Golpeos con balón medicinal</h3>
								<p>Sujeta el balón medicinal y, con todas tus fuerzas tíralo contra el suelo, repite.</p>
								<br>
								<h3>Sentadillas con barra en la espalda</h3>
								<p>Separa los pies a la altura de los hombros sujetando la barra en la espalda. Baja haciendo la sentadilla y quédate en cuclillas con la cabeza hacia arriba y la espalda recta. Core y glúteos firmes.</p>
								<br>
								<h3>Sentadillas con elevación de kettlebell o pesas rusas</h3>
								<p>Sujeta unas mancuernas, pesas rusas o barra a la altura de tus hombros, baja haciendo la sentadilla y al subir extiende los brazos hacia arriba. Cuidado con el movimiento, que no se desestabilice el peso, lo importante es hacerlo de forma controlada.</p>
								<br>
								<h3>Remo</h3>
								<p>Colócate correctamente en el asiento, asegura los agarres de los pies y tira hacia atrás cuando tus manos estén a la altura de tus rodillas.</p>
								<br>
								<h3>Escaladores</h3>
								<p>Coloca los brazos a la altura de los hombros, activa el core y procura que tus manos no se vayan hacia fuera con el movimiento de las piernas.</p>
								<br>
								<h3>Batlle Ropes o cuerdas de batalla</h3>
								<p>Sujeta las cuerdas con ambas manos y comienza a sacudirlas. En el momento que bajes una mano sube la siguiente para que el ritmo no pare y quemar más grasa.</p>
								<br>
								<h3>Zancadas frontales con barra</h3>
								<p>Con un peso adecuado en la barra para respetar la técnica, inicia una zancada hacia adelante hasta rozar con la rodilla el suelo. Puedes hacerlo de manera alterna con cada pierna o series con una pierna y luego con la otra.</p>
								<br>
								<h3>Pasos del granjero</h3>
								<p>Brazos estirados con las pesas rusas y caminar por ejemplo 20 metros de ida y otros 20 de vuelta. Al cabo de un rato notarás cómo te queman los trapecios.</p>
								<br>
								<h3>Sentadillas con barra en el pecho</h3>
								<p>Sentadilla profunda aguantando el peso de la barra y, de nuevo, mantener el core firme y la mirada al frente. A medida que domines la técnica, puedes ir subiendo los kilos de la barra...</p>
								<br>
								<h3>Ejercicio de arrastre de trineo</h3>
								<p>Construirás un core de acero y la principal precaución es contar con unas zapatillas que agarren bien y no resbales. Además, debes mantener la espalda recta y empujar con todo el cuerpo.</p>
								<br>
								<h3>Sprints en cinta</h3>
								<p>Lo ideal siempre para correr es hacerlo al aire libre, pero si quieres usar este cardio para añadir a tus rutinas de hipertrofia, saca el máximo partido a la cinta de tu gimnasio probando las diferentes velocidades que tiene.</p>
								<br>
								<h3>Levantamientos de la pelota en la pared o wall shots</h3>
								<p>La técnica no es demasiado complicada... Colócate de frente a una pared a unos 60 centímetros más o menos, agáchate con el balón en posición de sentadilla y, al subir, lánzalo hacia arriba contra la pared. Recuerda mantener firmes los glúteos y el abdomen, y sostener la pelota siempre a la altura de la barbilla.</p>
								<br>
								<h3>Peso muerto con mancuernas</h3>
								<p>Pues lo de siempre para las sentadillas y el peso muerto, espalda recta, core firme y mirada al frente para evitar lesiones.</p>
								<br>
								<h3>"Assault Bike" o 'Air Bike'</h3>
								<p>El mecanismo de esta bicicleta es sencillo; la resistencia se aplica a través de una turbina de viento que, a mayor velocidad, ofrece mayor resistencia. Así que depende de cómo te quieras exprimir, muévete más o menos rápido.</p>
								<br>
								<h3>Step-up con mancuernas</h3>
								<p>Con dos mancuernas, sube y baja del cajón con el cuerpo lo más recto posible y manteniendo el equilibrio.</p>
								<br>
								<h3>Zancadas con saco de arena</h3>
								<p>En este caso, y al tener el peso a la espalda, debes permanecer recto en todo momento y mirando al frente. Roza con la rodilla en el suelo al ejecutar la bajada. ¡A quemar grasa toca!</p>
								<br>
								<h3>Zancadas frontales con barra</h3>
								<p>Con un peso adecuado en la barra para respetar la técnica, inicia una zancada hacia adelante hasta rozar con la rodilla el suelo. Puedes hacerlo de manera alterna con cada pierna o series con una pierna y luego con la otra.</p>
								<br>
								<h3>Press de banca</h3>
								<p>procura rozar con la barra el pecho, pero sin apoyar. </p>
								<br>
								<h3>"Bear Crowls"</h3>
								<p>Primero colócate en posición de cuatro patas, eleva la cadera y, con el torso y la espada rectas, camina hacia adelante y hacia atrás. Si notas cierta tensión en los glúteos, es que lo estás haciendo correctamente.</p>
								<br>
								<h3>Flexiones</h3>
								<p>Para comenzar con las flexiones debemos colocarnos en el suelo, boca abajo. Apoyamos las manos, justo por debajo de los hombros y separadas de este ancho más o menos. Con los pies un poco separados, despegamos el torso del suelo impulsándonos con los brazos y el pecho.</p>
								<br>
								<h3>Salto con sentadilla dividida</h3>
								<p>Da un paso hacia atrás y comienza con una estocada profunda, con la rodilla trasera tocando ligeramente el suelo. Explota hacia arriba, cambiando de piernas en el aire para aterrizar en una posición de estocada con la pierna opuesta hacia adelante. Repite el movimiento, alternando piernas en cada repetición. Mantén esto alto, explosivo y con un movimiento fluido.</p>
								<br>
							</div>
						</div>
				</div>
			</div>
                
		</div>
			
	</div>
</section>


{%endblock%}