{% extends 'main/base.html' %}{% block content %}

<section id="price" class="parallax-section">
  <div class="container">
    <div class="row">
      <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.9s">
        <h2>Planes Alimenticios</h2>
        <p>No existe una única dieta ni plan para bajar de peso que sea para todo el mundo.
          Piensa en tus preferencias, en tu estilo de vida y en las metas de pérdida de peso. 
          Escoge un plan que puedas adaptar a tus necesidades.</p>

      </div>

      <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1s">
        <div class="pricing__item">
          <h3 class="pricing__title">Dieta Protéica</h3>
          <div class="pricing__price">
            <span class="pricing__currency">$</span>350
          </div>
          <ul class="pricing__feature-list">
            <li class="pricing__feature">One General Trainer</li>
            <li class="pricing__feature">Gym Services</li>
            <li class="pricing__feature">5 Yoga Courses</li>
            <li class="pricing__feature">10 Thai Massages</li>
            <li class="pricing__feature">15 Aerobics</li>
          </ul>
          <button class="pricing__action">Sign Up Now</button>
        </div>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1.3s">
        <div class="pricing__item">
          <h3 class="pricing__title">Dieta Vegetariana</h3>
          <div class="pricing__price">
            <span class="pricing__currency">$</span>550
          </div>
          <ul class="pricing__feature-list">
            <li class="pricing__feature">Two General Trainers</li>
            <li class="pricing__feature">Gym Services</li>
            <li class="pricing__feature">10 Yoga Courses</li>
            <li class="pricing__feature">20 Thai Massages</li>
            <li class="pricing__feature">25 Aerobics</li>
          </ul>
          <button class="pricing__action">Sign Up Now</button>
        </div>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1.6s">
        <div class="pricing__item">
          <h3 class="pricing__title">Dieta Vegana</h3>
          <div class="pricing__price">
            <span class="pricing__currency">$</span>750
          </div>
          <ul class="pricing__feature-list">
            <li class="pricing__feature">Three Personal Trainers</li>
            <li class="pricing__feature">Gym Services</li>
            <li class="pricing__feature">15 Yoga Courses</li>
            <li class="pricing__feature">20 Thai Massages</li>
            <li class="pricing__feature">35 Aerobics</li>
          </ul>
          <button class="pricing__action">Sign Up Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
