{% extends 'main/base.html' %}{% block content %}
{% load static %}


<!-- =========================
    BLOG HEADER SECTION   
============================== -->
<section id="blog-header" class="parallax-section margin-top">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Dieta Protéica</h1>
			</div>


		</div>
	</div>
</section>

<!-- =========================
    BLOG SECTION   
============================== -->
<section id="blog" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">

				<div class="blog-content wow fadeInUp" data-wow-delay="1s">
					<div class="blog-clear"></div>
					<p>Ganar masa muscular no solo es una cuestión estética, sino que ayuda a tener un organismo fuerte y resistente, y brinda numerosos beneficios para la salud. En esa búsqueda, es fundamental comer alimentos ricos en proteínas.</p>
					<blockquote>
						No solamente realizar actividad física es importante para desarrollar el cuerpo sino que una dieta y otros cuidados deben acompañar el proceso de cambio de hábitos.
					</blockquote>
					<p> La proteína es un nutriente importante que forma los músculos y huesos y suministra energía. Puede colaborar con el control del peso, dado que ayuda a que la persona se sienta llena y satisfecha con las comidas.
						De todos modos, el valor de las proteínas va mucho más allá de alcanzar el peso ideal o desarrollar los músculos. Estos macronutrientes son esenciales para el organismo, ya que además aportan energía, regulan la actividad y función de las células, contribuyen a reforzar el sistema inmunológico.<br>
						La dieta proteica también es llamada hiperproteica y dieta de proteínas, esta consiste en un aumento considerable en la ingesta de proteínas disminuyendo notoriamente los carbohidratos y los lípidos.
						Para que la dieta funcione es importante tener en cuenta que lo recomendable es ingerir proteínas magras y que contengan grasas saludables. Cada comida que se haga durante el día debe incluir un alimento proteico, y lo más destacable es que las calorías deben disminuirse progresivamente para que el cuerpo no sufra un impacto que ocasione estrés ni carencias nutricionales.
					</p>
				</div>

            
            	<div class="blog-categories">
					<h3>Consejos para seguir una dieta proteica</h3>
						<li>1.	Este tipo de dietas es para un tiempo determinado que no debe superar un mes sin extenderse ya que se puede poner en riesgo la salud.</li>
						<li>2.	Los vegetarianos también pueden ajustarse a una dieta proteica, por supuesto, con la asesoría de un nutricionista.</li>
						<li>3.	La dieta proteica no es para todas las personas, mucho menos para aquellas que sufren de insuficiencias renales, diabetes, hipertensión o personas con obesidad.</li>
                        <li>4.	Evitar el consumo de azúcares en todos sus derivados, es decir, dulces y bollería, alimentos procesados y grasas saturadas.</li>
                        <li>5.	No se pueden eliminar totalmente los hidratos, pero si se disminuyen de forma significativa.</li>
                        <li>6.	El agua es el aliado de la dieta, al menos 2 litros diarios que pueden combinarse con infusiones o té.</li>
						<li>7.	La práctica diaria de ejercicio es clave para lograr los resultados corporales ideales, pero no cualquier ejercicio, sino aquellos que involucren pesas para el desarrollo de la masa muscular.</li>
				</div>

				<div class="recent-post">
					<h2>Menú semanal</h2>

						<div class="media">
							
							<div class="media-body">
								<h3>Lunes</h3>
								<p>•	Desayuno: Café con bebida vegetal enriquecida en calcio y vitamina D y pan de harina de masa madre, calentito pero no tostado, con queso fresco y tomate.<br><br>
									•	Media mañana: Una tostada mini de pan de multicereal con jamón york (+85% de carne).<br><br>
									•	Comida: Garbanzos con champiñones de temporada. Una pieza de fruta de postre.<br><br>
									•	Merienda: Batido de yogur, avena y banana.<br><br>
									•	Cena: Pescado a la plancha con espárragos y papas al vapor frías y reposadas varias horas.
								</p>
								<br>
								<h3>Martes</h3>
								<p>•	Desayuno: Café con bebida vegetal y porridge de yogur blanco natural con avena, frutos rojos y semillas de chía.<br><br>
									•	Media mañana: Una tostada mini de pan multicereal con atún al natural.<br><br>
									•	Comida: Ensalada de salmón al horno con vegetales asados. Una pieza de fruta de postre.<br><br>
									•	Merienda: Té o infusión. 1 cracker de trigo con palta y tomate.<br><br>
									•	Cena: Pechuga de pollo a la parrilla con quinoa y brócoli al vapor.
								</p>
								<br>
								<h3>Miércoles</h3>
								<p>•	Desayuno: Café con bebida vegetal enriquecida en calcio y vitamina D y pan de harina de masa madre, calentito pero no tostado, con queso fresco y tomate.<br><br>
									•	Media mañana: Una tostada mini de pan multicereal con jamón york y un puñado de almendras.<br><br>
									•	Comida: Porotos con jamón. Una pieza de fruta de postre.<br><br>
									•	Merienda: Palitos de zanahoria con hummus.<br><br>
									•	Cena: Crema de zapallito con pollo triturado.
								</p>
								<br>
								<h3>Jueves</h3>
								<p>•	Desayuno: Café con bebida vegetal y pan de harina de masa madre, calentito pero no tostado, con palta y tomate.<br><br>
									•	Media mañana: Una tostada mini de pan multicereal con sardinas al natural o en aceite de oliva virgen.<br><br>
									•	Comida: Pollo al curry con arroz integral. Una pieza de fruta de postre.<br><br>
									•	Merienda: Té o infusión. Un puñado de nueces con un trozo de queso.<br><br>
									•	Cena: Salmón al horno con espárragos y quinoa.
								</p>
								<br>
								<h3>Viernes</h3>
								<p>•	Desayuno: Café con bebida vegetal y un porridge de yogur blanco natural con copos de avena y kiwi.<br><br>
									•	Media mañana: Una tostada mini de pan multicereal con jamón de pavo (+85% de carne).<br><br>
									•	Comida: Solomillo de cerdo en salsa de vino fino. Una pieza de fruta de postre.<br><br>
									•	Merienda: Té o infusión. Un puñado de almendras con una pera.<br><br>
									•	Cena: Sopa de verduras con pollo desmenuzado.
								</p>
								<br>
								<h3>Sábado</h3>
								<p>•	Desayuno: Café con bebida vegetal y pan de harina de masa madre, calentito pero no tostado, con aceite de oliva, tomate y nueces.<br><br>
									•	Media mañana: Una tostada mini de pan multicereal con jamón york (+85% de carne) y un puñado de nueces.<br><br>
									•	Comida: Espinacas con garbanzos. Una pieza de fruta de postre.<br><br>
									•	Merienda: Jugo de zanahoria y jengibre.<br><br>
									•	Cena: Espárragos salteados con champiñones.
								</p>
								<br>
								<h3>Domingo</h3>
								<p>•	Desayuno: Café con bebida vegetal y tortitas de avena con yogur y frutos rojos.<br><br>
									•	Media mañana: Una tostada mini de pan multicereal con atún al natural y un puñado de pistachos.<br><br>
									•	Comida: Lomo de cerdo al horno con papas al vapor frías y reposadas varias horas. Una pieza de fruta de postre.<br><br>
									•	Merienda: Té o infusión con yogur blanco natural con trozos de banana.<br><br>
									•	Cena: Ensalada de quinoa con palta y salmón.
								</p>
							</div>
						</div>
						
				</div>
                
			</div>
                
		</div>
			
	</div>
</section>

{%endblock%}