{% extends 'main/base.html' %}{% block content %} {% load static %}

<!-- =========================
    BLOG HEADER SECTION   
============================== -->
<section id="blog-header" class="parallax-section margin-top">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h1 class="wow fadeInUp" data-wow-delay="1.6s">Dieta Vegetariana</h1>
      </div>
    </div>
  </div>
</section>

<!-- =========================
    BLOG SECTION   
============================== -->
<!-- =========================
    SUGGESTION SECTION (only shows if there is a suggestion)
============================== -->
{% if sugerencias %}
<section id="suggestion" class="alert alert-info">
  <strong>Sugerencia del médico {{ medico_nombre }}:</strong>
  {{ sugerencias }}<br />
</section>
{% endif %}

<section id="blog" class="parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="blog-content wow fadeInUp" data-wow-delay="1s">
          <div class="blog-clear"></div>
          <blockquote>
            Las dietas vegetarianas están directamente relacionadas con un menor
            riesgo de padecer enfermedades de corazón, hipertensión, diabetes,
            obesidad e incluso algunos tipos de cáncer. Como son bajas en grasa,
            si combinas esta dieta con un estilo de vida saludable se reduce aún
            más el riesgo.
          </blockquote>
          <p>
            Los estudios demuestran que los vegetarianos pueden llegar a tener
            hasta un 50 % menos de probabilidad de morir de cáncer, del mismo
            modo los casos de cáncer de mama son más reducidos en las personas
            que siguen este tipo de alimentación. También estarás previniendo
            enfermedades cardíacas ya que las grasas saturadas, que vienen
            principalmente de las carnes, no estarán en tu organismo. Del mismo
            modo este tipo de alimentos hacen que la presión arterial sea más
            baja. Por el mismo motivo existe menor riesgo de padecer
            osteoporosis, porque los productos animales inducen a la
            decalcificación del hueso. La principal preocupación de las personas
            antes de llevar una dieta vegetariana es saber si cumplirá con todos
            los requisitos nutricionales del organismo. Llegar a ese nivel de
            nutrición no es difícil, debido a que la dieta vegetariana garantiza
            una cantidad suficiente de proteínas. El principal problema es la
            vitamina B12, obtenida en gran parte de las carnes. Para añadirla al
            organismo puedes agregar a tus comidas productos lácteos o huevos
            cocidos. Esto es un factor importante, sobre todo si estás
            embarazada o estás en periodo de lactancia.
          </p>
          <p>
            Una dieta vegetariana será saludable siempre y cuando sea
            planificada y se combinen y cubran adecuadamente los nutrientes.
          </p>

          <div class="blog-categories">
            <h3>Proteínas:</h3>
            <p>
              Se cubren ingiriendo alimentos variados, que provean los
              aminoácidos y el nitrógeno necesarios para no caer en el consumo
              de complementos nutricionales.
            </p>
            <h3>Hierro:</h3>
            <p>
              Los vegetales contienen hierro no hemo (menos absorbible), que es
              más sensible que el hierro hemo (proveniente de los alimentos de
              origen animal) a los inhibidores y reforzadores del hierro.
            </p>
          </div>

          <p>
            La vitamina C y otros ácidos orgánicos presentes en las frutas y
            verduras ayudan a la absorción del hierro y pueden ayudar a reducir
            los efectos de las sustancias inhibidoras (fitatos). Es importante
            no aumentar el consumo diario de estas sustancias inhibidoras de
            hierro presentes en los alimentos: los fitatos, el calcio, los tés
            incluyendo los de hierbas, café, cacao y algunas especias y la
            fibra. No obstante, ahora se sabe que los efectos de los fitatos son
            algo menores de lo que se pensaba. La cantidad de hierro proveniente
            de los vegetales es 1.8 veces menor al que proviene de los alimentos
            ricos en hierro hem de origen animal. Algunos investigadores
            sostienen que la vitamina C ayuda a absorber el hierro siempre y
            cuando se incluya elevada ingesta de esta vitamina. Lo mismo para
            los ácidos orgánicos provenientes de las frutas y de las verduras.
            La mayor ingesta de vitamina C y de frutas y verduras (crudas) puede
            favorecer la absorción del hierro. Existen técnicas de mejoramiento
            en la absorción del hierro, como ser el remojo o hacer brotar granos
            y semillas. La levadura de cerveza de los panes también logra este
            efecto de aumento de la absorción del hierro. Otros procesos
            fermentativos, para realizar derivados de soja (miso y tempeh),
            pueden ayudar a la absorción de este mineral. No está de más aclarar
            que cuando una persona está acostumbrada a seguir una dieta
            vegetariana está más adaptada a la baja ingesta de hierro, y por
            eso, a largo plazo, habrá una creciente absorción y como
            consecuencia menores pérdidas.
          </p>
          <br />
        </div>

        <div class="recent-post">
          <h2>Menú semanal</h2>

          <div class="media">
            <div class="media-body">
              <h3>Lunes</h3>
              <p>
                • Almuerzo: risotto con champiñones, se puede agregar alguna
                legumbre. Ensalada de todos los colores crudos y/o cocidos al
                vapor.<br /><br />
                • Cena: ensalada de todos los colores crudos y/o cocidos al
                vapor, agregar hojas verdes. 2 empanadas de choclo con salsa
                blanca light.
              </p>
              <br />
              <h3>Martes</h3>
              <p>
                • Almuerzo: paella de trigo sarraceno y verduras. Incorporar
                vegetales verdes.<br /><br />
                • Cena: mijo con frutas secas. Ensalada de todos los colores
                crudos y/o cocidos al vapor.
              </p>
              <br />
              <h3>Miércoles</h3>
              <p>
                • Almuerzo: macarones con boloñesa. Ensalada de todos los
                colores crudos y/o cocidos al vapor.<br /><br />
                • Cena: ensalada de palta y nueces. Agregar cereales integrales
                o batata y soja.
              </p>
              <br />
              <h3>Jueves</h3>
              <p>
                • Almuerzo: tortilla de brócoli. Ensalada de todos los colores
                crudos y/o cocidos al vapor. Incorporar legumbres.<br /><br />
                • Cena: albóndigas al curry con queso. Ensalada de todos los
                colores crudos y/o cocidos al vapor.
              </p>
              <br />
              <h3>Viernes</h3>
              <p>
                • Almuerzo: tortilla de papa y espinaca. Ensalada de todos los
                colores crudos y/o cocidos al vapor.<br /><br />
                • Cena: ensalada de todos los colores crudos y/o cocidos al
                vapor. 2 porciones de pizza básica rellena con vegetales, soja,
                choclo, arvejas, huevo, queso y aceitunas.
              </p>
              <br />
              <h3>Sábado</h3>
              <p>
                • Almuerzo: champiñones rellenos con trigo burgol. Ensalada de
                todos los colores crudos y/o cocidos al vapor.<br /><br />
                • Cena: ensalada de todos los colores crudos y/o cocidos al
                vapor. Agregar ensalada de garbanzos.
              </p>
              <br />
              <h3>Domingo</h3>
              <p>
                • Almuerzo: ensalada verde. 2 empanadas de espinaca y ricota.<br /><br />
                • Cena: berenjenas en escabeche. Ensalada de todos los colores
                crudos y/o cocidos al vapor con quinoa.
              </p>
              <br />
              <h3>Desayunos y meriendas</h3>
              <p>
                - 1 vaso de leche descremada.<br /><br />
                - 2 rodajas de pan integral 3 cereales (sin tostar).<br /><br />
                - Ricota descremada 1 cucharada de las de sopa en cada rodaja.
              </p>
              <br />
              <h3>Entrecomidas: (elegir dos opciones)</h3>
              <p>
                - 1 huevo duro.<br /><br />
                - 1 puñadito de frutas secas (cuando se incluyen en alguna
                preparación, no incluirlas).<br /><br />
                - 15 pasas de uvas (cuando se incluyen en alguna preparación, no
                incluirlas).<br /><br />
                - 8 aceitunas.<br /><br />
                - 1 banana no madura (mediana).<br /><br />
                - 10 uvas grandes.<br /><br />
                - 1 fruta fresca.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
